/vendor

/wp
/wp-config.php

/content/plugins/*
!/content/plugins/ocooking-settings

/content/themes/*
!/content/themes/ocooking

/content/languages
/content/upgrade
/content/uploads

/content/db.php
