@mixin page-with-sidebar() {
    display: grid;
    grid: {
        template: {
            areas:
                "header header"
                "sidebar main"
                "footer footer";
            columns: calc(100% * 1 / 3 - #{$gutter} / 2) calc(100% * 2 / 3 - #{$gutter} / 2);
            rows: auto;
        }
        column: {
            gap: $gutter;
        }
    }

    .main {
        margin-right: $gutter-layout;
    }

    .sidebar {
        margin-left: $gutter-layout;
    }
}